<center>
<div class="events">

    <div class="events__row">
        <span>SWE Outreach Banquet</span>
        <span>04.15/2017</span>
        <span><a href="#">RSVP</a></span>
    </div>

    <div class="events__row">
        <span>SWE Outreach Banquet</span>
        <span>04.15/2017</span>
        <span><a href="#">RSVP</a></span>
    </div>

    <div class="events__row">
        <span>SWE Outreach Banquet</span>
        <span>04.15/2017</span>
        <span><a href="#">RSVP</a></span>
    </div>
    <div class="events__row">
        <span>SWE Outreach Banquet</span>
        <span>04.15/2017</span>
        <span><a href="#">RSVP</a></span>
    </div>
    <div class="events__row">
        <span>SWE Outreach Banquet</span>
        <span>04.15/2017</span>
        <span><a href="#">RSVP</a></span>
    </div>
    <div class="events__row">
        <span>SWE Outreach Banquet</span>
        <span>04.15/2017</span>
        <span><a href="#">RSVP</a></span>
    </div>



</div>
</center>
