<!-- <header role="navigation" class="section header">
    <a href="#" class="nav-toggle">&#9776;</a>
    <nav class="navigation close">
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/about">About</a>
        <a href="{{ site.baseurl }}/calendar">Calendar</a>
        <a href="{{ site.baseurl }}/envision">Envision</a>
        <!-- <a href="{{ site.baseurl }}/envision">Social</a>
        <a href="{{ site.baseurl }}/envision">Professional</a>
        <a href="{{ site.baseurl }}/envision">Outreach</a>
        <a href="{{ site.baseurl }}/contact">Contact</a>
    </nav>
</header> -->

<!--Pattern HTML-->
  <div id="pattern" class="pattern">
    <!--Begin Pattern HTML-->
		<a href="#menu" class="menu-link">&#9776;</a>
		<nav id="menu" role="navigation">
			<ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/">About</a></li>
                <li><a href="{{ site.baseurl }}/calendar/">Calendar</a></li>
                <li><a href="{{ site.baseurl }}/envision/">Envision</a></li>
                <li><a href="{{ site.baseurl }}/social/">Social</a></li>
                <li><a href="{{ site.baseurl }}/professional/">Professional</a></li>
                <li><a href="{{ site.baseurl }}/outreach/">Outreach</a></li>
                <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
			</ul>
		</nav>
	</div>
