---
layout: default
---

<main class="section main">
    <h1 class="main__title">{{ page.subtitle }}</h1>

    {% include events.html %}



    {% comment %}{% for event in site.index.events %} {% endcomment %}
    <h1>plz</h1>
    {% for event in {{ site.pages | where: "title", "home" }}.events %}
        <div class="events__row">
            <span>{{ event.event_name }} - if this comes up then it worked</span>
            <!-- <span>{{ event.event_date }}</span> -->
            <time>{{ event.event_date | date: "%A, %B %-d" }}</time>
            <span><a href="{{ event.event_url }}" target="_blank">RSVP</a></span>
        </div>
    {% endfor %}

    <hr>

    <center>
        <figure class="calendar-container">
            {{ page.calendar_embed_code }}
        </figure>
    </center>

    <!-- <img src="{{ site.baseurl }}/assets/img/cal.png" alt="" class="cal"> -->
</main>
