---
layout: default
---

<main class="section main">
    <h1 class="main__title">{{ page.subtitle }}</h1>

    <form action="https://formspree.io/swe@ucsd.edu"
      method="POST">
        <input type="text" name="name" placeholder="{{ page.placeholder_name }}" required>
        <input type="email" name="email" placeholder="{{ page.placeholder_email }}" required>
        <input type="tel" name="phone" placeholder="{{ page.placeholder_phone }}">
        <textarea name="message" placeholder="{{ page.placeholder_message }}" required></textarea>

        <input type="submit" value="Send"></button>
    </form>

</main>
