---
layout: default
---

<main class="section main">
    <h1 class="main__title">{{ site.title }}</h1>

    <center>
    <div class="events">
        {% for event in site.events %}
            <div class="events__row">
                <span>{{ event.event_name }}</span>
                <!-- <span>{{ event.event_date }}</span> -->
                <time>{{ event.event_date | date: "%A, %B %-d" }}</time>
                <span><a href="{{ event.event_url }}" target="_blank">RSVP</a></span>
            </div>
        {% endfor %}
    </div>
    </center>

</main>
